# Environment Config
ENV=staging
DEBUG=true
PORT=8000
HOST=0.0.0.0

# Database URL
DATABASE_URL=sqlite:///./bbps_cou.db

# Log Configuration
LOG_LEVEL=INFO

# BBPS Channel Credentials (from Bank of Baroda API Specs)
# mbanking
MBANKING_CLIENT_ID=bH1aI2Qgp7zJJFsmF01pPJtzawUBrafGkIz9rWrYA06wNtNj
MBANKING_CLIENT_SECRET=ugVz1hETNXUIwnWtpLafAASFPL0qGI5fAWybWMfuEsIL3HusiIRWO1AvVmBRe0Gy
MBANKING_BASE_URL=https://api-preprod.isampurna.com/mbanking

# upi
UPI_CLIENT_ID=qpcklLfKX6JA7taczJfoJXvSglPy4jR5lmWx3YdQsIaV1PVK
UPI_CLIENT_SECRET=g8qZYnBjjd3FV0r8ZRpSCi96WO8DGEXFL3uScivt99XlRyGSSKxkBep5z9a11nfm
UPI_BASE_URL=https://api-preprod.isampurna.com/upi

# fi
FI_CLIENT_ID=UG94ygc40cgWNF36y5BOWsKNaux9Kt1lyAikFdXV6LXC6mtp
FI_CLIENT_SECRET=rfAjcxaY4ZNjxpP2A63os4tXllgOQ9mMoesrSs099wnEzWDAxGfBcC4qGJCIfqxA
FI_BASE_URL=https://api-preprod.isampurna.com/fi

# feature-phone
FEATURE_PHONE_CLIENT_ID=OXYxrVdP8UNnwPGnEFRDwwSDCwYYThO51ItcknPT6aCKr8TT
FEATURE_PHONE_CLIENT_SECRET=GSOjY6fAaCYX8UVkdHGQTz1dHF6tdRADpPTuo94lJvRENgalwdVpjquAdw6aTedk
FEATURE_PHONE_BASE_URL=https://api-preprod.isampurna.com/feature-phone
